<!DOCTYPE html>
<html ng-app="calender-app">
<head>
    <meta charset="UTF-8">
    <title>Calender App</title>
</head>
<body >
<div ng-controller="CalenderController as ccVm">
    <h1 class="text-center">{{ccVm.title}}</h1>
 <!-- Three button Previos Today Next for navigation-->
    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="ccVm.currentDate"
                        decrement="ccVm.calendarView"
                        ng-click="ccVm.cellIsOpen = false">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="ccVm.currentDate"
                        set-to-today
                        ng-click="ccVm.cellIsOpen = false">
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="ccVm.currentDate"
                        increment="ccVm.calendarView"
                        ng-click="ccVm.cellIsOpen = false">
                    Next
                </button>
            </div>
        </div>

        <br>

        <!-- Calender display-->
    </div>
        <mwl-calendar
                events="ccVm.events"
                view="ccVm.calendarView"
                view-title="ccVm.title"
                view-date="ccVm.currentDate"

                cell-is-open="ccVm.cellIsOpen"
                day-view-start="06:00"
                day-view-end="22:59"
                day-view-split="30"
        >
        </mwl-calendar>

    <br><br><br>

    <h3 id="event-editor">
        Edit events
        <button
                class="btn btn-primary pull-right"
                ng-click="ccVm.createEvent()">
            Create new
        </button>
        <div class="clearfix"></div>
    </h3>


<!-- table which allows to add a new event and delete an event -->
    <table class="table table-bordered">

        <thead>
        <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="event in ccVm.events track by $index">
            <td>
                <input
                        type="text"
                        class="form-control"
                        ng-model="event.title">
            </td>
            <td>
                <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
            </td>
            <td>
                <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
            </td>
            <td>
                <p class="input-group" style="max-width: 250px">
                    <input
                            type="text"
                            class="form-control"
                            readonly
                            uib-datepicker-popup="dd MMMM yyyy"
                            ng-model="event.startsAt"
                            is-open="event.startOpen"
                            close-text="Close" >
                    <span class="input-group-btn">
              <button
                      type="button"
                      class="btn btn-default"
                      ng-click="ccVm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>

              <button
                      type="button"
                      class="btn btn-danger"
                      ng-click="ccVm.validate(event)">
                SUBMIT
              </button>

            </span>
                </p>
                <div
                        uib-timepicker
                        ng-model="event.startsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true">
                </div>
            </td>
            <td>
                <p class="input-group" style="max-width: 250px">
                    <input
                            type="text"
                            class="form-control"
                            readonly
                            uib-datepicker-popup="dd MMMM yyyy"
                            ng-model="event.endsAt"
                            is-open="event.endOpen"
                            close-text="Close">
                    <span class="input-group-btn">
              <button
                      type="button"
                      class="btn btn-default"
                      ng-click="ccVm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
                </p>
                <div
                        uib-timepicker
                        ng-model="event.endsAt"
                        hour-step="1"
                        minute-step="15"
                        show-meridian="true">
                </div>
            </td>
            <td>
                <button
                        class="btn btn-danger"
                        ng-click="ccVm.events.splice($index, 1)">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<!-- moment should be referenced for using bootstrap calender
script tags written in the body for better performance
-->

<script src="https://unpkg.com/moment@2.17.1"></script>
<script src="https://unpkg.com/angular@1.6.1/angular.js"></script>
<script src="https://unpkg.com/angular-bootstrap-calendar"></script>
<script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
<script src="https://unpkg.com/angular-animate@1.6.1/angular-animate.js"></script>
<script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>

<script src="calender-controller.js"></script>
<link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
<link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
<link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">

</body>
</html>